.signup-text {
    max-width: 220px !important;
    margin: auto !important;
    padding-bottom: 40px;
}

.user-label {
    color: white !important;
    border: 1px solid #ffffff !important;
}

label {
    color: white !important;
}